@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Oswald:wght@200..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Amiri Quran", serif;
    font-weight: 500;
    font-style: normal;
}
html {
    direction: rtl;
    font-size: 16px; /* الحجم الافتراضي للخطوط */
}

body {
    margin: 0;
    background-image: url('./mosque.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.container {
    width: 650px;
    background-color: #13131271;
    padding: 30px 25px;
    backdrop-filter: blur(10px);
    border: 1px solid #d7d7d74e;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.justify {
    padding: 0 40%;
    font-size: 22px;
    outline: none;
    border-radius: 10px;
    text-align: center;
}
.tarikh {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
.milady, .hijry, .countdown {
    font-size: 22px;
    color: white;
    gap: 5px;
    width: 100%;
    text-align: center; /* يجعلهم في منتصف العنصر */
}
.miqat {
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
}
.alazkar {
    color: white;
    text-align: center;
    font-size: 25px;
}

select {
    font-size: 18px; /* تكبير حجم الخط في السيليكت */
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
    .container {
        width: 85%;
        padding: 20px 15px;
    }
    .justify {
        padding: 0 20%;
        font-size: 18px;
    }
    .miqat {
        gap: 8px;
        font-size: 18px;
        justify-content: space-between;
    }
    .tarikh {
        flex-direction: column;
        text-align: center;
        gap: 15px; /* زيادة الفراغ بين عناصر التاريخ */
    }
    .milady, .hijry, .countdown {
        font-size: 18px; /* تقليل حجم الخط */
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
    .container {
        width: 90%;
        padding: 15px 10px;
    }
    .justify {
        padding: 0 10%;
        font-size: 16px;
    }
    .miqat {
        gap: 5px;
        font-size: 14px;
        justify-content: space-between;
    }
    .tarikh {
        flex-direction: column;
        text-align: center;
        gap: 12px;
    }
    .milady, .hijry, .countdown {
        font-size: 14px; /* تقليل الحجم أكتر */
    }
}
