@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Oswald:wght@200..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Amiri Quran", serif;
    font-weight: 500;
    font-style: normal;
}
html {
    direction: rtl;
    font-size: 16px; /* ضبط الحجم الافتراضي لسهولة القراءة على الموبايل */
}

body {
    margin: 0;
    background-image: url('./mosque.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.container {
    width: 650px;
    background-color: #13131271;
    padding: 30px 25px;
    backdrop-filter: blur(10px);
    border: 1px solid #d7d7d74e;
    border-radius: 10px;
    margin-left: 25%;
    max-width: 100%; /* يضمن أن العرض لا يتجاوز الحدود */
}

.justify {
    padding: 0 40%;
    font-size: 22px;
    outline: none;
    border-radius: 10px;
    text-align: center;
}
.tarikh {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.milady, .hijry, .countdown {
    font-size: 22px;
    color: white;
    gap: 5px;
}
.miqat {
    display: flex;
    gap: 10px;
    font-size: 25px;
    color: white;
    justify-content: space-between;
}
.alazkar {
    color: white;
    text-align: center;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px; /* تصغير الحجم الافتراضي للخطوط */
    }
    .container {
        width: 85%; /* تقليل العرض عشان يتناسب مع الشاشات الصغيرة */
        padding: 20px 15px; /* تقليل البادينج */
    }
    .justify {
        padding: 0 20%;
        font-size: 18px; /* تقليل حجم الخط على الشاشات الصغيرة */
    }
    .miqat {
        gap: 5px;
        font-size: 18px;
        justify-content: space-between;
    }
    .tarikh {
        flex-direction: column; /* لتناسب الشاشة الصغيرة */
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px; /* تقليل الحجم أكثر على الشاشات الصغيرة جداً */
    }
    .container {
        width: 90%;
        padding: 15px 10px; /* تقليل البادينج */
    }
    .justify {
        padding: 0 10%;
        font-size: 16px; /* تقليل حجم الخط أكثر */
    }
    .miqat {
        gap: 2px;
        font-size: 12px;
        justify-content: space-between;
    }
    .tarikh {
        flex-direction: column; /* تغيير الاتجاه ليكون عمودي */
    }
}
